
/**
* Game
**/
.game {
	background-color: black;
}
.scene {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 100%; height: 100%;
}

#tableau {
    position: absolute;
	width: 100%; height: 100%;
	left: 0; top: 0;
	cursor: pointer;
}

#tableau .fond {
    display: inline-block;
    position: absolute;
	width: 100%; height: 100%;
	left: 0; top: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#tableau .text {
    display: inline-block;
    position: absolute;
	width: 100%; height: auto;
	min-height: 10%;
	text-align: left;
    padding: 1% 5% 1% 5%;
    font-size: 3.5vh;
}
#tableau .textfond {
    display: inline-block;
    position: absolute;
    left: 0; top: 0;
	width: 100%; height: 100%;
	background-color: black;
	opacity: 0.7;
}
#tableau .text > span {
	position: relative;
	color: white;
}

#tableau .text[position="bas"] {
	left: 0; bottom: 0;
}