<div class="page bebel">
</div>

<div class="page menu-page">
	<div class="username text hidden"></div>
    <div class="menu-cadre h-center">
    	<ul class="menu v-center">
    		<li id="new"><%=data.text.get("newGame")%></li>
    		<% if(data.saveExists) { %>
    		  <li id="load"><%=data.text.get("loadGame")%></li>
    		<% } %>
    		<li id="option"><%=data.text.get("options")%></li>
    		<li id="credit"><%=data.text.get("credits")%></li>
    		<li class="hidden" id="partenaire"><%=data.text.get("partenaires")%></li>
    		<li class="login hidden" id="login">Login</li>
    	</ul>
    </div>
</div>
<div class="footer">
	<div class="copyright">
		<p><%=data.text.get("copyright-licence")%> <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons</a><br/>
        <%=data.text.get("copyright-donot")%></p>
	</div>
</div>
<div id="load-popup" class="popup"></div>
<div id="option-popup" class="popup"></div>
<div id="credit-popup" class="popup"></div>
<div id="partenaire-popup" class="popup"></div>