<div class="popup">
    <mask></mask>
    <div class="content popup-game">
    	<div class="close-button" aria-label="Close"></div>
        <div class="texte text-center row">
	        <div class="col-md-12"><%= data.text.get(data.textePopup) %></div>
	        <div class="col-md-12 buttons">
	            <div class="col-xs-6 button-center">
	            	<div class="button yes">
	            		<span><%= data.text.get(data.texteOk) %></span>
	            	</div>
	            </div>
	        </div>
        </div>
    </div>
</div>