<div class="popup">
    <mask></mask>
    <div class="content popup-game">
        <div class="texte text-center row">
	        <div class="col-md-12"><%= data.text.get(data.textePopup) %></div>
	        <div class="col-md-12">
	            <div class="col-md-6">
	            	<div class="button yes">
	            		<span><%= data.text.get(data.texteYes) %></span>
	            	</div>
	            </div>
	            <div class="col-md-6">
	            	<div class="button no">
	            		<span><%= data.text.get(data.texteNo) %></span>
	            	</div>
	            </div>
	        </div>
        </div>
    </div>
</div>