<div class="content">
	<div class="close-button" aria-label="Close"></div>
	<ul class="texte popup-menu">
		<li id="deviant"><%=data.text.get("illustration")%> : Alicia Nesztler</li>
		<li><%=data.text.get("developpement")%> : Steven Nesztler</li>
		<li><%=data.text.get("musique")%> : Alicia Nesztler</li>
		<li id="aeferrets"><%=data.text.get("textes")%> : A.E Ferrets</li>
    </ul>
    <br/>
    <ul class="texte popup-menu">
        <li><%=data.text.get("followUs")%></li>
        <li><%=data.text.get("followUs2")%></li>
        <li><%=data.text.get("followUs3")%></li>
    </ul>
</div>